<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnu_helper.l_cure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.cnu_helper.l_cure.SelectMyWordStageActivity"/>
        <activity android:name="com.cnu_helper.l_cure.SelectMyWordActivity"/>
        <activity android:name="com.cnu_helper.l_cure.SelectImprovingSkillsActivity"/>
        <activity android:name="com.cnu_helper.l_cure.SelectSyllableCountActivity"/>
        <activity android:name="com.cnu_helper.l_cure.SelectWordSynthesisActivity"/>
        <activity android:name="com.cnu_helper.l_cure.SelectPhonemicSegmentationActivity"/>
        <activity android:name="com.cnu_helper.l_cure.SelectPhonemicSynthesisActivity"/>
        <activity android:name="com.cnu_helper.l_cure.SelectPhonemicSubstitutionActivity"/>
        <activity android:name="com.cnu_helper.l_cure.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cnu_helper.l_cure.PopupActivity" android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>